{% extends "base.html" %}

{% block title %}
    <title>Jeopardy</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="header mt-2">
        <h2>Fragen</h2>
        <button id="toggle-question-settings-btn" class="btn btn-primary btn-icon">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </div>
    <div class="row my-3">
        {% for category in question_matrix %}
            <div class="col-md-2 mx-3">
                <div class="category-block">
                    <h3>{{ category[0]["category"] }}</h3>
                    <div class="d-flex flex-column">
                        {% for question in category %}
                            <div class="card question-card mb-2 {{ "answered" if question["question_id"] in answered_question_ids }}" data-question-id="{{ question["question_id"] }}"">
                                <button class="btn btn-sm btn-danger remove-btn skip-question-btn"><span aria-hidden="true">&times;</span></button>
                                <div class="card-body">
                                    <h5 class="card-title">{{ question["points"] }} €</h5>
                                    <p class="card-text">{{ question["type"] }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="team-cards-wrapper">
                <div class="header">
                    <h2>Teams</h2>
                    <button id="toggle-team-settings-btn" class="btn btn-primary btn-icon">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>
                <div class="row team-cards-container">
                    {% for team in teams %}
                    <div>
                        <div class="card team-card {{ "active" if team.is_active }}" data-team-id="{{ team.team_id }}">
                            <button class="btn btn-sm btn-danger remove-btn remove-team-btn"><span aria-hidden="true">&times;</span></button>
                            <div class="card-body team-card-body">
                                <div class="mx-3">
                                    <h5 class="card-title">{{ team.name }}</h5>
                                    <span class="card-text">{{ team.score }}</span>
                                </div>
                                <div class="team-add-points mt-2 mx-3">
                                    <input type="number" class="mb-2 team-add-points-input" id="points-{{ team.team_id }}">
                                    <div class="manual-score-change-container">
                                        <button class="btn btn-success btn-sm team-control-btn" data-team-id="{{ team.team_id }}" data-action="add">+</button>
                                        <button class="btn btn-danger btn-sm team-control-btn" data-team-id="{{ team.team_id }}" data-action="subtract">-</button>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card-settings">
                                <div class="team-buzzer-id">
                                    <span>Buzzer ID</span>
                                    <input type="number" class="mb-2 team-buzzer-id-input" data-team-id="{{ team.team_id }}" value="{{ team.buzzer_id if team.buzzer_id }}">
                                </div>
                                <div class="team-buzzer-sound">
                                    <span class="buzzer-label">Buzzer Sound</span>
                                    <select class="mb-2 team-buzzer-sound-input" data-team-id="{{ team.team_id }}">
                                        <option value="">Select Sound</option>
                                    </select>
                                </div>
                                <div class="team-card-settings-footer">
                                    <div class="team-active">
                                        <input type="checkbox" class="team-active-checkbox" data-team-id="{{ team.team_id }}" {{ "checked" if team.is_active }}>
                                        <span>Active</span>
                                    </div>
                                    <div>
                                        <span id="team-id-span">ID: {{ team.team_id }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <form id="add-team-form" action="{{ url_for("add_team") }}" method="post" class="mt-4">
                        <div class="form-group">
                            <label for="team-name-input">Team Name</label>
                            <input type="text" class="form-control mt-2" id="team-name-input" name="team-name-input" maxlength="15">
                        </div>
                        <button type="submit" class="btn btn-primary">Team hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <div class="mt-2">
            <span class="session-controls">Runde <span id="round-number">{{ round_number }}</span></span>
        </div>
        <form action="{{ url_for("previous_round") }}" method="post" class="mt-2">
            <button type="submit" class="btn btn-primary session-controls">Vorherige Runde</button>
        </form>
        <form action="{{ url_for("next_round") }}" method="post" class="mt-2">
            <button type="submit" class="btn btn-primary session-controls">Nächste Runde</button>
        </form>
        <form action="{{ url_for("new_session") }}" method="post" class="mt-2">
            <button type="submit" class="btn btn-primary session-controls">Neue Session</button>
        </form>
    </div>

    <!-- Question Modal -->
<div class="modal fade" id="question-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-container">
                    <h5 class="modal-title" id="question-modal-label"></h5>
                </div>
                <div class="answering-team-container">
                    <h5 class="answering-team" id="question-modal-answering-team"></h5>
                </div>
                <div class="modal-header-container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-question-id">
                    <span id="modal-question-id-span"></span>
                </div>
                <div>
                    <h2 id="question-text"></h2>
                </div>
            </div>
            <div class="modal-footer">
                <div class="answer-button-container" data-answer="true">
                    <button type="button" class="btn btn-secondary answer-button">Richtig</button>
                </div>
                <div class="answer-text-container">
                    <span id="answer-text"></span>
                </div>
                <div class="answer-button-container" data-answer="false">
                    <button type="button" class="btn btn-secondary answer-button">Falsch</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<span>Last Buzzer Ping:</span>
<span>{{ last_buzzer_ping }}</span>
{% endblock %}

{% block additionaljavascript %}
    <script src="{{ url_for('static', filename='js/jeopardy.js') }}" type="application/javascript"></script>
{% endblock %}
