{% extends "base.html" %}

{% block title %}
    <title>Quizmaster Admin Panel</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="question-text">Waiting for the next question...</h1>
        <h1 id="answer-text">Waiting for the answer...</h1>
    </div>
{% endblock %}

{% block additionaljavascript %}
    <script>
        const quizmaster_stream = new EventSource('/quizmaster_stream');
        quizmaster_stream.onmessage = function(event) {
            const data = JSON.parse(event.data);
            $("#question-text").text(`Frage: ${data.question}`);
            $("#answer-text").text(`Antwort: ${data.answer}`);
        };

        quizmaster_stream.onerror = function() {
            console.error("Error with the Quizmaster EventSource connection.");
            quizmaster_stream.close();
        };
    </script>
{% endblock %}